<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (subject(); as subjectRef) {
      <div>
        <h2 data-cy="subjectDetailsHeading"><span jhiTranslate="schoolApp.subject.detail.title">Subject</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ subjectRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="schoolApp.subject.name">Name</span></dt>
          <dd>
            <span>{{ subjectRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="schoolApp.subject.description">Description</span></dt>
          <dd>
            <span>{{ subjectRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="schoolApp.subject.teachers">Teachers</span></dt>
          <dd>
            @for (teachers of subjectRef.teachers; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/teacher', teachers.id, 'view']">{{ teachers?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span jhiTranslate="schoolApp.subject.students">Students</span></dt>
          <dd>
            @for (students of subjectRef.students; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/student', students.id, 'view']">{{ students?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/subject', subjectRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
